<h1>Home Page</h1>

<div>
  <tr>
  <%= link_to 'Sign In', new_user_session_path, class:"btn btn-secondary" %> |
  </tr>
  <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-secondary" %>
</div>