<div class="row flex-container" style="background-color:#0052cc; padding-right:10%  ; padding-left:10%; padding-top:5%; padding-bottom:20%"> 

<h1 style="color:white;">New ticket</h1>

<%= render "form", ticket: @ticket %>

<br>
</br>
<div style="color:white;">
  <%= link_to "Back to tickets", tickets_path %>
</div>

