/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.custom{
    padding-left:30px;
    
}
.notice{
    background-color: orange;
}
.mr-font-size-base {
    font-size: 14px!important;
    line-height: 1.428571429!important;
}
.bg-blue {
    background-color: #4abdd2!important;
}
.mr-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.hp2{
    background-color:paleturquoise;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
    text-shadow: 2px 2px 4px #000000;
}
.hp3{
    background-image: url("https://images.unsplash.com/photo-1536987333706-fc9adfb10d91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") ;
    width:100%;
    height:100%;
    box-align:center;
    align-items: center;
}
.heading{
    font-size: 5rem;
    line-height: 1.18181818;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: Charlie Display, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.featured{
    color:white;
    font-size: 1rem;
    line-height: 1.18181818;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: sans-serif;
}